@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow: auto;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
  transition: 0.5s;
}

.navigation ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  height: 60px;
  min-width: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a:before,
.navigation ul li.hovered a:before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
}

.navigation ul li:hover a:after,
.navigation ul li.hovered a:after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* main */

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0px;
  width: 60px;
  height: 60px;
  /* background: var(--white); */
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search {
  position: relative;
  padding: 0 10px;
  width: 400px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* card */

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  padding: 30px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2em;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1em;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5em;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* chart */
.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  min-height: 200px;
}

.graphBox .box {
  position: relative;
  padding: 20px;
  width: 100%;
  height: auto;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.graphBox .box canvas {
  width: 100%;
  height: 100%;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.details .details-table {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header h2 {
  font-weight: 600;
  color: var(--blue);
}

.card-header .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  color: var(--white);
  border-radius: 6px;
  text-decoration: none;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .details-table table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .details-table table tr:last-child {
  border-bottom: none;
}

.details .details-table table tbody tr:hover {
  color: var(--white);
  background: var(--blue);
}

.details .details-table table tr td {
  padding: 10px;
}

.details .details-table table tr td:last-child {
  text-align: end;
}

.details .details-table table tr td:nth-child(2) {
  text-align: end;
}

.details .details-table table tr td:nth-child(3) {
  text-align: center;
}

.status {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  background: #8de02c;
}

.details-box {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details-box .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.details-box .imgBx img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}

.details-box table tr td {
  padding: 12px 10px;
}

.details-box table tr h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.details-box table tr h4 span {
  font-size: 14px;
  color: var(--black2);
}

.details-box table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.details-box table tr:hover h4 span {
  color: var(--white);
}

/* responsive */
@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0px;
    width: 300px;
  }

  .main {
    width: 100%;
    left: 0px;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 778px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .details-table {
    overflow: auto;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-header h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0px;
  }
  .toggle {
    z-index: 1001;
  }
  .main.active .toggle {
    color: var(--white);
    position: fixed;
    right: 0px;
    left: initial;
  }
}
